@import "../../.storybook/utils/global.css";

.containerTable {
  width: 100%;
  border-collapse: collapse;
}

.header {
  height: 56px;
  width: 10%;
  min-width: 120px;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: bold;
}

.subHeader {
  text-align: left;
  background-color: #f9f9f9;
  font-weight: bold;
}

.rawUnfocus {
  height: 64px;
}

.data {
  text-align: left;
}