@import "../../.storybook/utils/global.css";

.fieldset {
  border: 2px solid var(--purple-900);
  padding: 1em;
  border-radius: 0.25em;
}

.legend {
  color: var(--black);
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.radioContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.radioInput {
  margin-right: 0.5em;
}

.radioLabel {
  color: var(--black);
}

input[type="radio"]:focus-visible {
  outline: 2px solid var(--purple-900);
  outline-offset: 2px;
}