@import "../../.storybook/utils/global.css";

.dialog {
  border: 2px solid var(--purple-700);
  min-height: 200px;
  padding: 1em 1em 2em;
  position: relative;
  z-index: 1000;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog h2 {
  color: var(--purple-700);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.dialog p {
  color: var(--black);
  font-size: 1rem;
}

.containerDiv:focus-visible {
  outline: 3px solid var(--purple-700);
}

button.openDialog {
  background-color: var(--purple-500);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  font-size: 1rem;
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 0 2px var(--purple-700), 0 0 0 4px white;
  outline: 2px solid white;
  outline-offset: -2px;
}

button.closeButton {
  background-color: var(--purple-500);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
