body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #222;
}

h2 {
  margin-bottom: 0.5rem;
}

h3 {
  margin-bottom: 0;
}

.ui.styled.accordion {
  width: 100%;
  max-width: 600px;
}

.ui.styled.accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2ebf7;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
  user-select: none;
  width: 100%;
  border:none;
  border-bottom: 1px solid #e0dfe6
}

.ui.styled.accordion .title:hover {
  background: #e9d8f3;
}

.ui.styled.accordion .title.active {
  background: #d1c4e9;
}

.ui.styled.accordion .title svg {
  margin-right: 0.5rem;
}

.ui.styled.accordion .title:focus-visible {
  outline: 2px solid #8a63d2;
  outline-offset: 1px;
}

.ui.styled.accordion .content {
  padding: 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding-top: 1em;
  transition: max-height 0.3s ease;
}

.ui.styled.accordion .content:not(.active) {
  max-height: 0;
  overflow: hidden;
}

.ui.styled.accordion .content p {
  margin: 0;
}