body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height:1.5;
}
h1{
    margin-bottom:.5em;
}

label{
    display: block;
}

.comboboxContainer {
    position: relative;
    padding-bottom:1em;
    width: 300px;
}

.comboboxInput {
    flex-grow: 1;
    width: 100%;
    height: 35px;
    padding: .3125em .625em;
    border: .0625em solid #6a1b9a;
    border-radius: .3125em;
    outline: none;
    box-sizing: border-box;
    font-size: 1rem;
}

.comboboxInput:focus-visible {
    border-color: #9c27b0;
    box-shadow: 0 0 0 .1875em #D1C4E9;
}

.comboboxWrapper {
    display: flex;
    align-items: stretch;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 38px;
    background-color: #6a1b9a;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .3125em;
}

.toggleButton:hover {
    outline: .125em solid #ffffff;
}

/* .toggleButton:focus {
    box-shadow: 0px 0px 0px .1875em #6a1b9a;
} */

.comboboxListbox {
    position: absolute;
    width: 100%;
    max-height: 200px;
    margin-top: .3125em;
    overflow-y: auto;
    border: .0625em solid #6a1b9a;
    border-radius: .3125em;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 10;
    list-style-type: none;
    padding-left: 0px;
}

.comboboxListbox li {
    padding: .3125em .625em;
    cursor: pointer;
}

.comboboxListbox li[aria-selected="true"] {
    background-color: #6a1b9a;
    color: #ffffff;
}

.comboboxListbox li:hover {
    background-color: #9c27b0;
    color: #ffffff;
}

.helpText {
    margin-top: .625em;
    color: #696868;
    font-size: .875rem;
    margin:0;
    padding:0;
}

.resultCount{
    margin-top: .625em;
    color: #6a1b9a;
    font-size: .8rem;
    margin:0;
    padding:0;
    margin-bottom:.5em;
}

.selectedOption {
    background-color: #6a1b9a;
    color: #ffffff;
}