body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .tab-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  [role="tablist"] {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  
  [role="tab"] {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
  }
  [role="tab"]:focus-visible {
    border-bottom: 3px solid green;
  }
  [role="tab"][aria-selected="true"]:focus-visible {
    border-bottom: 3px solid blue;
  }
  
  [role="tab"][aria-selected="true"] {
    font-weight: bold;
    border-bottom-color: #9c27b0;
    background-color: #d1cbdb;
  }
  
  [role="tabpanel"] {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  [role="tabpanel"][hidden] {
    display: none;
  }
  