@import "../../.storybook/utils/global.css";

.table {
  width: 100%;
  border-collapse: collapse;
}
.caption{
  font-size:1.4em;
  text-align: left;
  margin-bottom: 0.5em;
}
.captionText{
  display:block;
  font-size:1rem;
}
.th,
.td {
  padding: 1em;
  text-align: left;
  border: 1px solid black;
}
.th {
  position: relative;
  background-color: #f2f2f2;
}
.button {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: transparent;
  color: var(--black);
  border: none;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  position: relative;
}
.button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #3f51b5;
}
.chevron {
  display: none;
  margin-left: 4px;
}

/* .button:hover .chevronHoverFocus,
.button:focus .chevronHoverFocus,
.chevron.sorted {
  display: inline-block;
  position: absolute;
} */

.chevronHoverFocus {
  visibility: hidden; /* Hide icon by default */
}

.button:hover .chevronHoverFocus,
.button:focus .chevronHoverFocus {
  visibility: visible; /* Show icon on hover/focus */
}

.chevronIsVisible{
  display: inline-block;
  position: absolute;
  top: 14px;
}

.chevron.chevronUp {
    background-image: url('./images/chevronUp.svg');
    background-size: cover;
    display: inline-block;
    width: 16px; /* Adjust to your desired size */
    height: 16px; /* Adjust to your desired size */
}

.chevron.chevronDown {
  background-image: url('./images/chevronDown.svg');
  background-size: cover;
  display: inline-block;
  width: 16px; /* Adjust to your desired size */
  height: 16px; /* Adjust to your desired size */
}

.chevron.sortNone {
  background-image: url('./images/chevronBoth.svg');
  background-size: cover;
  display: inline-block;
  width: 14px; /* Adjust to your desired size */
  height: 14px; /* Adjust to your desired size */
  position: absolute;
  top: 14px;
  opacity: .5;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}