:root {
    --green-900: rgb(54, 83, 20);
    --green-700: rgb(77, 124, 15);
    --purple-900: #4338ca;
    --purple-700: #5941a9;
    --purple-500: #7b61c4;
    --purple-300: #a886e5;
    --purple-100: #d3beff;
    --white: #ffffff;
    --black: #262626;
  }
  
  body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
  }  