@import "../../.storybook/utils/global.css";

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers children horizontally */
  justify-content: center; /* centers children vertically */
  margin: 0 auto;
  max-width: 40em;
  width: auto;
}

.sliderContainer > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the label and input horizontally */
  margin-bottom: 20px; /* space between the input and the slider, adjust as needed */
}

/* Styling for the label */
.sliderContainer > div:first-child > label {
  display: block;
  font-weight: 600; /* Making it bold for emphasis */
  margin-bottom: 5px; /* Spacing between the label and input */
  text-transform: uppercase; /* Uppercase for a modern look */
  font-size: 0.85em; /* Slightly smaller font size */
  color: var(--black);
}

/* Styling for the input */
.sliderInput {
  width: 60px; /* Fixed width, but can be adjusted */
  padding: 7px 12px;
  border: 2px solid var(--purple-900); /* Border color consistent with slider */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  font-size: 1em;
  color: var(--purple-500);
  transition: border 0.3s, box-shadow 0.3s; /* Smooth transitions for hover/focus effects */
}

.sliderInput:hover {
  border: 1px solid var(--purple-700); /* Darker border on hover */
}

.sliderInput:focus {
  outline: none;
  border: 1px solid var(--purple-900); /* Even darker border on focus */
  box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.1); /* Purple glow around the input for accessibility */
}

.sliderInput:focus-visible{
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--purple-700);
}

.error {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
  font-weight: 500;
}

.ariaSlider {
  position: relative;
  width: 100%;
}

.ariaSliderTrack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: var(--purple-500);
  outline: none;
}

.ariaSliderThumb {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: var(--purple-500);
  border-radius: 50%;
  top: -22px;
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
  transform: translateX(-50%);
}

.ariaSlider:focus-visible {
  outline: none;
}

.ariaSlider:focus-visible .ariaSliderThumb {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.ariaSlider:hover .ariaSliderThumb {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.rangeContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  outline: none;
}

.rangeNumber {
  color: #262626;
  position: relative;
  top: 40px;
}

.nowValue {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100px;
  color: var(--black);
  font-weight: bold;
  top: 40px;
}

.ariaValueNowGroup {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top:3em;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.minusBtn{
  width: 48px;
  height: 48px;
  border-radius: 30%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusBtn{
  width: 48px;
  height: 48px;
  border-radius: 30%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ariaValueNowText{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.minusBtn:focus-visible,
.plusBtn:focus-visible {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.minusBtn:hover,
.plusBtn:hover {
  outline: 4px solid var(--purple-900);
}