@import "../../.storybook/utils/global.css";
  
.password-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    position: relative;
  }
  
  .password-container label {
    margin-bottom: 0.5em;
  }
  
  .password-container .input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .password-container .input-wrapper input {
    flex-grow: 1;
    font-size: 1.2rem;
    padding:0.5em;
    margin-right: 1em;
  }
  
  .password-container .input-wrapper button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .password-container .input-wrapper button svg {
    transform: scale(1.5);
  }
  /*Eye outline*/
  .password-container .input-wrapper button svg path {
    stroke: var(--purple-900);
    stroke-width: 1;
  }
  /*pupil outline*/
  .password-container .input-wrapper button svg .pupil {
    stroke: var(--purple-900);
    stroke-width: 1;
  }
  /*Eye outline hover*/
  .password-container .input-wrapper button:hover svg path {
    stroke: var(--purple-700);
    stroke-width: 2;
  }
  /*Puple outline hover*/
  .password-container .input-wrapper button:hover svg .pupil {
    stroke: var(--purple-700);
    stroke-width: 2;
  }
  /*Eye outline focus-visible*/
  .password-container .input-wrapper button:focus-visible svg path {
    stroke: var(--purple-700);
    stroke-width: 2;
  }
  /*Pupil outline focus-visible*/
  .password-container .input-wrapper button:focus-visible svg .pupil {
    stroke: var(--purple-700);
    stroke-width: 2;
  }
  
  .password-container .input-wrapper button[aria-pressed="true"] .pupil {
    stroke: var(--green-900);
    stroke-width: 1;
    fill: var(--green-700);
  }
  
  button:focus-visible {
    outline: none;
  }  