body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

.multiSelectContainer {
  width: 300px;
  font-family: Arial, sans-serif;
}

.multiSelectContainer h2 {
  color: #6200ee;
  margin-bottom: 10px;
}

.selectedOptions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.listboxToggleButton {
  background-color: #6200ee;
  color: #fff;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:auto;
}

.selectedOptionButton {
  background-color: #9d2aa8;
  color: #fff;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:auto;
}

.listboxToggleButton:focus-visible,
.selectedOptionButton:focus-visible {
  outline: 3px solid #03dac5;
}

.listboxToggleButton:hover,
.selectedOptionButton:hover {
  background-color: #3700b3;
}

.listbox {
  border: 1px solid #6200ee;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 150px;
  overflow-y: auto;
}

.listboxOption {
  padding: 10px;
  cursor: pointer;
}

.listboxOption:hover {
  background-color: #3700b3;
  color: #fff;
}

.listboxOption:focus-visible {
  outline: 3px solid #03dac5;
}

.listboxOption.selected {
  background-color: #6200ee;
  color: #fff;
}
.HelpText{
  font-size:0.8rem;
  color: #5a5656;
}
.SrOnly{
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}