body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height:1.5;
}

.sliderContainer{
  width:40em;
  margin-left:1em;
  position: relative;
}

.rangeInput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  background-color: #8a63d2;
  margin: 0;
  padding: 0;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  width: 48px;
  background-color: #6B52AE;
  border-radius: 50%;
  transition: box-shadow 0.3s;
}

.rangeInput:focus {
  outline: none;
}

.rangeInput:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.sliderValue {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100px;
  color: #262626;
  font-weight: bold;
}

.rangeContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.rangeNumber {
  color: #262626;
}

.rangeNumber:first-child {
  margin-left: 15px;
}

.rangeNumber:last-child {
  margin-right: 15px;
}